<div class='orders-sub'>
  <div class='orders-button'>
    <%= link_to 'New Order', new_order_path %>
  </div>
</div>

<div class='orders-sub activation-form'>
  <%= form_tag '/orders/show', method: :get do %>
    <div class='orders-sub'>
      <%= text_field_tag 'activation_code', nil, placeholder: 'Code' %>
    </div>
    <%= submit_tag 'See Status', id: 'activation_code_submit', class: 'orders-button' %>
  <% end %>
</div>