// Place all the styles related to the order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: Crimson Text;
  font-size: 20px;
  text-align: center;
  margin: 0px;
}

a {
  text-decoration: none;
}

.header {
  padding: 15px;
  background-color: #6666c1;
  .header-logo a {
    font-size: 30px;
    color: white;
    font-family: Armata;
  }
}

.container {
}

.col-half {
  width: 50%;
  float: left;
  display: block;
  padding-top: 15px;
}

.left {
  text-align: right;
}

.right {
  text-align: left;
}

.center {
  text-align: center;
}

.orders-sub {
  padding: 20px;
}

.text-label {
  font-size: 20px;
  text-transform: uppercase;
  font-family: Armata;
  padding-bottom: 5px;
  padding-top: 5px;
  font-weight: bold;
  a:visited {
    color: black;
  }
  a:hover {
    color: #6666c1;
  }
}

.text-accent {
}

.text-purple {
  color: #6666c1;
}

.text-important {
  text-transform: uppercase;
  font-family: Armata;
  font-weight: bold;
}

input {
  font-family: Crimson Text;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid black;
  color: gray;
  padding: 5px;
  text-align: right;
}
input:focus {
  outline: none;
}

.orders-button {
  border: 2px solid #6666c1;
  color: black;
  background-color: white;
  margin-left: 5px;
  text-transform: uppercase;
  font-family: Armata;
  font-size: 15px;
  font-weight: bold;
  &:hover {
    cursor: pointer;
    cursor: hand;
    color: #6666c1;
  }
}

input[type="submit"]:disabled {
  border: 1px solid gray;
  color: gray;
  &:hover {
    cursor: default;
  }
}

input[type="number"] {
  border: 1px solid black;
  width: 40px;
}

.new-order-form {
  input {
    text-align: left;
    margin-left: 10px;
  }
  label {
    width: 100px;
    text-align: right;
  }
}

.orders-index {
  .col-small {
    width: 26%;
    float: left;
    display: block;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .col-mid {
    width: 37%;
    padding-top: 10px;
    padding-bottom: 10px;
    float: left;
    display: block;
  }
  .orders-each-order {
    padding-bottom: 20px;
    text-align: left;
    clear: both;
    border-top: 1px dashed #6666c1;
    .text-label {
      font-size: 17px;
    }
    .orders-sub {
      padding: 5px;
    }
  }
  .orders-index-categories {
    clear: both;
    padding-top: 7px;
    padding-bottom: 5px;
    font-size: 15px;
    background-color: #e4e4f4;
  }
  .orders-button {
    padding: 5px;
    width: 100px;
    text-align: center;
    float: right;
    margin-top: 5px;
  }
  a:-webkit-any-link{
    color: inherit !important;
  }
}
