// Place all the styles related to the order controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: Crimson Text;
  font-size: 20px;
  text-align: center;
  margin: 0px;
  width: 100%;
}

a {
  text-decoration: none;
}

.inner {
  max-width: 700px;
  text-align: center;
  margin: 0 auto;
}

.error {
  padding: 10px;
  background-color: #ff6666;
  color: white;
}

.col-half {
  width: 50%;
  float: left;
  display: block;
  padding-top: 15px;
}

.left {
  text-align: right;
}

.right {
  text-align: left;
}

.center {
  text-align: center;
}

.text-label {
  font-size: 20px;
  text-transform: uppercase;
  font-family: Armata;
  padding-bottom: 5px;
  padding-top: 5px;
  font-weight: bold;
  a:visited {
    color: black;
  }
  a:hover {
    color: #6666c1;
  }
}

.text-accent {
}

.text-purple {
  color: #6666c1;
}

.text-important {
  text-transform: uppercase;
  font-family: Armata;
  font-weight: bold;
}

.orders-sub {
  padding: 10px;
  padding-top: 20px;
  text-align: center;
}

.available-oysters {
  width: 80%;
  margin: 0 auto;
}

input {
  font-family: Crimson Text;
  font-size: 20px;
  border: none;
  border-bottom: 2px solid black;
  color: gray;
  text-align: right;
}
input:focus {
  outline: none;
}

input[type="submit"]:disabled {
  border: 1px solid gray;
  color: gray;
  &:hover {
    cursor: default;
  }
}

input[type="number"] {
  border: 1px solid black;
  width: 40px;
}

.activation-form {
  #activation_code {
    text-align: center;
    width: 80%;
  }
}

.new-order-form {
  text-align: left;
  input {
    text-align: center;
    width: 90%;
  }
  .orders-button {
    text-align: center;
  }
  .number-input {
    width: 60px;
    margin-left: 10px;
  }
}

.orders-button {
  border: 2px solid #6666c1;
  color: black;
  background-color: white;
  text-transform: uppercase;
  font-family: Armata;
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: 80%;
  text-align: center;
  margin: 0 auto;
  -webkit-appearance: none;
  border-radius: 0;
  &:hover {
    cursor: pointer;
    cursor: hand;
    color: #6666c1;
  }
}

.orders-index {
  .orders-each-order {
    padding: 10px;
    text-align: left;
    clear: both;
    border-bottom: 1px dashed #6666c1;
    .text-label {
      font-size: 17px;
    }
    .orders-sub {
      padding: 5px;
    }
  }
  .orders-index-categories {
    clear: both;
    padding: 10px;
    font-size: 15px;
    background-color: #e4e4f4;
  }
}

a:-webkit-any-link{
  color: inherit !important;
}

.header {
  padding: 15px;
  background-color: #6666c1;
  .header-logo a {
    font-size: 30px;
    color: white !important;
    font-family: Armata;
  }
}

